<script>
    function remOne(event, id) {
        Model.removeOne(id)
            .done(function () {
                Messages.success.push(`Removed 1 book of id: `+id)
                navigateTo('/cart', event);
            })
            .fail(function (error) {
                Messages.danger.push(`${error.statusText} (${error.status}): ${error.responseJSON.message}`);
                navigateTo('/cart', event);
            });
        navigateTo("/cart", event)
    }
    function remAll(event, id) {
        Model.removeAll(id)
            .done(function () {
                Messages.success.push(`Removed all books of id: `+ id)
                navigateTo('/cart', event);
            })
            .fail(function (error) {
                Messages.danger.push(`${error.statusText} (${error.status}): ${error.responseJSON.message}`);
                navigateTo('/cart', event);
            });
        navigateTo("/cart", event)
    }
</script>
{{> navBar this}}
{{> header this}}
{{> messages this}}
<main>
    <div class="container">
        <h2>Shopping cart</h2>
        {{#if user.shoppingCart.items}}
        <div class="text-right">
            <b>Total: </b><span>{{formatPrice user.shoppingCart.total}}</span>
        </div>
        <h3>Items</h3>
        <table class="table bg-whiter">
            <thead>
                <tr class="small">
                    <th scope="col">Qty</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total</th>
                    <th scope="col">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {{#each user.shoppingCart.items}}
                <tr class="small">
                    <td>{{qty}}</td>
                    <td>{{title}}</td>
                    <td>{{formatPrice price}}</td>
                    <td>{{formatPrice (multiply2 qty price)}}</td>
                    <td>
                        <div class="input-group">
                            <div class="input-group-append">
                                <button class="btn btn-outline-danger dropdown-toggle btn-sm" type="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Remove</button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="remOne(event, {{product}})">One</a>
                                    <a class="dropdown-item" onclick="remAll(event, {{product}})">All</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <br>
        <p class="text-muted"><b>Subtotal: </b><span id="subtotal">{{formatPrice user.shoppingCart.subtotal}}</span></p>
        <p class="text-muted"><b>Tax: </b><span id="tax">{{formatPrice user.shoppingCart.tax}}</span></p>
        <p><b>Total: </b><span id="total">{{formatPrice user.shoppingCart.total}}</span></p>
        <div class="text-right">
            <a href="/purchase" class="btn btn-primary" onclick="navigateTo('/purchase', event)"> &nbsp;Purchase
                &nbsp;</a>
        </div>
        {{else}} <br>
        <h4>No books in the shopping cart yet</h4>
        {{/if}}
        <br><br><br>
</main>
{{> footer this}}